/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #1c2941;
}

/*MAIN CONTENT*/
.logo-wrapper{
    text-align: center;
    margin: 15px 0;
    cursor: pointer;
}

.logo-wrapper img {
    width: 350px;
}

.input-area {
    text-align: center;
}

.input-area input {
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 25px;
    border: 2px solid #E5412E;
}

.input-area button {
    background-color: #E5412E;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;
}

.input-area button:hover {
    background-color: white;
    color: #E5412E;
    border: 2px solid #E5412E;
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #F5F6F7;
    margin-top: 30px;
}

